<!-- Logo -->
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <%= image_tag 'ecosmarte.png', class: 'logo_eco' %>
  </div>
</div>
<!--  ------>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="warranty_form">
      <div class="panel panel-info">
        <div class="panel-heading" style="text-align:left;">
          <h3>ECOsmarte Warranty</h3><br>
          <regular style="color:#667;">Please fill out the information below. Contact us if you have any questions.</regular>
        </div>
        <div class="panel-body">
          <%= render "form" %>
        </div>
      </div>
    </div>
  </div>
</div>