<div id="index" class="basics_style">
  <strong><h2>Welcome to ECOsmarte Basics</h2></strong>
  <p><h4>A lesson on the basic essentials for running an ECOsmarte Pool system</h4></p>
  <br><br><br>
  <p>Proceed through the training by hitting the arrow.</p>
</div>


<div id="chemical_levels_1" class="basics_style">
  <h3>The 4 Chemical Levels of ECOsmarte and their Constraints</h3>
  <br><br>
  <p><h4>The four chemical levels that are essential to the efficient operation of the ECOsmarte pool system are pH, copper, calcium and phosphates.</h4></p>
</div>

<div id="chemical_levels_2" class="basics_style">
  <h3>The 4 Chemical Levels of ECOsmarte and their Constraints</h3>
  <br><br>
  <p>We will start with pH. Potential Hydrogen, otherwise known as pH affects how acidic the water is. 
    It stabilizes the copper as an effective sanitizer. The correct level for pH is 6.8-7.2, leaning towards 6.8. If pH is too low (rare), it can cause a crystal clear green color in the pool. If pH is too high, it can cause the copper ions to fall out of the water, causing staining and a blue hue.</p>
</div>

<div id="chemical_levels_3" class="basics_style">
  <h3>The 4 Chemical Levels of ECOsmarte and their Constraints</h3>
  <br><br>
  <p><h4 style="text-align:left;">The following steps detail how to test pH in the pool:</h4></p>
  <ol style="text-align:left;">
    <li>Make sure the plastic sample tube is clean and dry.</li>
    <li>Take a sample of water from about 18″ below the surface of the water, away from the return jets and skimmers.</li>
    <li>Add 5 drops of phenol red to the water sample.</li>
    <li>Put the cap on the sample tube and turn the tube over to mix.</li>
    <li>Hold the sample out at arm’s length and compare side by side to the pH color samples.</li>
    <li>Record the results.</li>
  </ol>
</div>

<div id="chemical_levels_4" class="basics_style">
  <h3>The 4 Chemical Levels of ECOsmarte and their Constraints</h3>
  <br><br>
  <p><h4>The following details how to correct for an imbalance of pH:</h4></p>
  <p style="text-align:left;"><strong>If pH is too low (rare)</strong></p>
  <ol style="text-align:left;">
    <li>Add 4 lbs baking soda to the pool.</li>
    <li>After 24 hours, retest the pH.</li>
    <li>If the pH level is still lower than 6.6, add another 4 lbs baking soda.</li>
    <li>A total of 8 lbs of baking soda should be enough to raise the pH to 6.8 – 7.2.</li>
  </ol>
  <p style="text-align:left;"><strong>If pH is too High</strong></p>
  <ol style="text-align:left;">
    <li>Fill a 5 gallon bucket about halfway with pool water. Then, add liquid muriatic acid to the bucket, creating a solution of about 2 parts water to one part acid.</li>
    <li>Walk around the pool gradually adding the acid/water solution evenly to the pool.</li>
    <li>If the pH level is still lower than 6.6, add another 4 lbs baking soda.</li>
    <li>Wait a day for the solution to mix thoroughly, and then test the pH again. If the pH is still above 7.2, add another dose of water/acid solution.</li>
  </ol>
</div>

<div id="chemical_copper_1" class="basics_style">
  <h3>The 4 Chemical Levels of ECOsmarte and their Constraints</h3>
  <br><br>
  <p style="text-align:left;">The second level is copper. Copper is the active ingredient in the pool that acts as both an antimicrobial and algaecide. 
    The correct level for copper is between 0.4-0.7 ppm. If copper is too low, it can cause copper to be rendered ineffective. 
    Copper kills bacteria at 0.1 ppm and algae at 0.3 ppm, if below those levels it will be rendered ineffective accordingly. If copper is too high, it can cause copper staining.</p>
  <p><h4 style="text-align:left;">The following steps detail how to test copper in the pool:</h4></p>
  <ol style="text-align:left;">
    <li>With a clean, dry sample tube, take a sample of water about 18″ below the water – away from return jets and skimmers.</li>
    <li>Add 5 drops of Copper A to the tube, cap it, and turn it upside-down to mix.</li>
    <li>Add 5 drops of Copper B to the same tube, cap it, and turn it upside-down to mix.</li>
    <li>Wait three minutes.</li>
    <li>With the color chart on a flat surface, hold the tube about 1″ above the chart. Look down through the length of the tube and compare to the color chart.</li>
    <li>Record Results. The pool must have a copper level between .4 – .7ppm. On a 20,000 gallon pool, it takes, on average, 4 hours to move .1ppm and 12 hours to move .3ppm.</li>
  </ol>
</div>

<div id="chemical_copper_2" class="basics_style">
  <h3>The 4 Chemical Levels of ECOsmarte and their Constraints</h3>
  <br><br>
  <p><h4>The following details how to correct for an imbalance of copper:</h4></p>
  <p style="text-align:left;"><strong>If copper is too low (rare)</strong></p>
  <ol style="text-align:left;">
    <li>Set Controller mode to ION until Copper levels register at least 0.4 ppm.</li>
  </ol>
  <p style="text-align:left;"><strong>If copper is too High</strong></p>
  <ul style="text-align:left;">
    <li>Method 1.</li>
    <ol>
      <li>Drain 2 feet of water from the pool and refill.</li>
      <li>Retest the copper.</li>
      <li>If the copper level is still above .7ppm, drain another 2 feet and refill.</li>
    </ol>
    <li>Method 2.</li>
    <ol>
      <li>Place 4 Ferre Tabs (from a local pool store or online at ecosmarteonlinestore.com) into the skimmers.</li>
    </ol>
  </ul>
</div>

<div id="chemical_calcium_1" class="basics_style">
  <h3>The 4 Chemical Levels of ECOsmarte and their Constraints</h3>
  <br><br>
  <p style="text-align:left;">The third level is calcium. Calcium’s main job is to acts as a pH buffer and stabilizes pH in the water. 
    Calcium also adds conductivity to the water so that the electrodes can send electricity through the copper anodes and release copper ions into the water. 
    The correct level for calcium is 400 ppm minimum. If calcium is too low, pH can drift high and copper ions will not be released into the water efficiently.</p>
    <br>
  <p><h4 style="text-align:left;">The following steps detail how to test calcium in the pool:</h4></p>
  <ol style="text-align:left;">
    <li>Dip one paper calcium test strip into the water for 3 seconds and then remove.</li>
    <li>Immediately match to the closest color on the color chart.</li>
    <li>Read results as ppm and record.</li>
  </ol>
</div>

<div id="chemical_calcium_2" class="basics_style">
  <h3>The 4 Chemical Levels of ECOsmarte and their Constraints</h3>
  <br><br>
  <p><h4>The following detail how to correct for an imbalance of calcium:</h4></p>
  <p style="text-align:left;"><strong>If calcium is too low</strong></p>
  <ol style="text-align:left;">
    <li>Put a little calcium at a time in a leaf skimmer. Swish it around toward the middle of the pool until it dissolves. Repeat this process to add 50 – 100 lbs of calcium.</li>
    <li>Wait a couple days before testing the water again to make sure the calcium is thoroughly mixed into the pool water.</li>
    <li>Retest the water.</li>
    <li>Repeat this process until the calcium level is at least above 400ppm.</li>
  </ol>
</div>

<div id="chemical_phosphates_1" class="basics_style">
  <h3>The 4 Chemical Levels of ECOsmarte and their Constraints</h3>
  <br><br>
  <p style="text-align:left;">The fourth and last level is phosphates. Phosphates in simplest terms are food for algae, and by reducing the phosphates to zero, the fuel for algae is eliminated. 
    The correct level for phosphates is between 0-100ppb, leaning towards 0. If phosphates are too high, then algae will begin to grow in the pool provided there are active live algae.</p>
  <p><h4 style="text-align:left;">The following steps detail how to test phosphates in the pool:</h4></p>
  <ol style="text-align:left;">
    <li>With a clean, dry sample tube, take a 10 mL sample of water from about 18″ below the surface of the water, away from the return jets and skimmers.</li>
    <li>Gently bend a phosphate test strip in half (do not fold), with pads facing inward. Place the strip inside the test tube cap.</li>
    <li>Cap the test tube and invert the tube slowly 5 times, allowing the air bubble to go from the top to bottom and bottom to top.</li>
    <li>Remove the cap and test strip.</li>
    <li>Place the bottom of the test tube on the white boxed area of the color chart on the phosphate test container. Look down through the top of the OPEN test tube and compare it to the color chart.</li>
    <li>Read results as ppb and record.</li>
  </ol>
</div>

<div id="chemical_phosphates_2" class="basics_style">
  <h3>The 4 Chemical Levels of ECOsmarte and their Constraints</h3>
  <br><br>
  <p><h4>The following details how to correct for an imbalance of phosphates:</h4></p>
  <p style="text-align:left;"><strong>If between 100-1000 ppb, use one of the following</strong></p>
  <ul style="text-align:left;">
    <li>Sea Klear Phosphate Remover</li>
    <li>Phos-Free</li>
    <li>Phos-X</li>
    <li>Zero-Phos</li>
  </ul>
  <p style="text-align:left;"><strong>If above 1000 ppb, use</strong></p>
  <ul style="text-align:left;">
    <li>Sea Klear Phosphate Remover</li>
  </ul>
</div>

<!-- ****************************************************** -->

<div id="back_wash_1" class="basics_style">
  <h3>When to backwash your filter</h3>
  <p><h4>Now we will explain what backwashing is, when to do it, and what happens it is done too frequently or not enough.</h4></p>
  <br>
  <p style="text-align:left;">Backwashing is a way to clear any stuck debris off of the filter. It is effective and does not require opening the filter. 
    As debris from the pool flows through the filter, it is caught by the media so it does not flow back into the pool. As more and more debris is caught, it gets continually harder and harder to push water through, increasing the pressure of the filter. As the pressure increases, the filter can collect finer and finer particles. 
    However if the pressure gets too high, circulation in the pool will slow down and eventually stop, and the pump may be overworked and burn out.</p>
</div>

<div id="back_wash_2" class="basics_style">
  <h3>When to backwash your filter</h3>
  <p><h4>Now we will explain what backwashing is, when to do it, and what happens it is done too frequently or not enough.</h4></p>
  <br>
  <p style="text-align:left;">Backwashing releases that pressure by removing the debris from the filter and out through an exit hose. 
    Resting pressure is measured as the pressure in the filter just after a backwash. By backwashing whenever the pressure rises more than 6-10lbs of pressure higher than the resting pressure, you are sure to prevent any damage to the pump. 
    If you backwash too often, then the pressure will never rise high enough to collect the finer particles of debris. However if you never backwash, and pressure rises to 10-14 lbs higher than the resting pressure, the circulation will slow down and you will put the pump in danger. 
    Lastly, if phosphate remover is added to the pool to reduce phosphate level, the filter must be backwashed 48 hours afterwards regardless of current pressure on the filter.</p>
</div>

<!-- ******************************************************* -->

<div id="setting_controller" class="basics_style">
  <h3>What setting to set your controller to and when</h3>
  <p><h4>Next we will discuss the controller settings. This lesson will only cover the turbo system, if you want to learn more about the programmable system, please see the ECOsmarte University.</h4></p>
  <br>
  <p style="text-align:left;">The turbo has two switches, an ion/oxy switch and a high/low switch. 
    The ion/oxy switch determine whether the system is releasing copper or oxygen into the water respectively. Copper should only ever be released into the pool by setting the switch to ionize if after a copper test you determine that the copper is lower than 0.4 ppm. 
    Otherwise, the switch should be set to oxidize by default. The high/low switch should always be set to high unless the pool is located in a desert in which case the switch may be set to low.</p>
</div>

<!-- ****************************************************** -->

<div id="chemicals_added" class="basics_style">
  <h3>The only chemicals that should ever be added to the pool</h3>
  <p><h4>Finally, here is the list of approved chemicals to add to the water and why. Add nothing else unless directed by the ECOsmarte cloud or technician.</h4></p>
  <br>
  <ul style="text-align:left;">
    <li>Muriatic Acid to lower pH.</li>
    <li>Calcium Chloride Flakes to raise calcium.</li>
    <li>Sea Klear Phosphate Remover, Phos-Free, Phos-X, Zero-Phos brands to remove phosphates.</li>
    <li>Non-metallic Algecide 40-60 only if directed by ECOsmarte Cloud or technician.</li>
    <li>Non-chlorine shock only if directed by ECOsmarte Cloud or technician.</li>
    <li>Household bleach to clean the filter or to speed up gassing process of a new liner.</li>
  </ul>
</div>