<div class="row">
  
  <div class="col-sm-10 col-sm-offset-1">
    
    <div class="row">
      <div class="col-sm-3">
        <%= link_to users_path, class: "dashboard_link" do %>
          <div class="dashboard_container">
            User Search
          </div>
        <% end %>
      </div>
      
      <div class="col-sm-3">
        <%= link_to pools_path, class: "dashboard_link" do %>
          <div class="dashboard_container">
            Pool Search
          </div>
        <% end %>
      </div>
      
      <div class="col-sm-3">
        <%= link_to ecosmarte_university_path, class: "dashboard_link" do %>
          <div class="dashboard_container">
            Ecosmarte University
          </div>
        <% end %>
      </div>
      
      <div class="col-sm-3">
        <%= link_to ecosmarte_university_path, class: "dashboard_link" do %>
          <div class="dashboard_container">
            Ecosmarte University
          </div>
        <% end %>
      </div>
    
    </div>
    
  </div>
</div>