<!-- Offer ---------->
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <%= image_tag "offer.png", class: "offer" %>
  </div>
</div>
<!------------------->

<!-- <div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="welcome">
      Welcome to the Ecosmarte Cloud
    </div>
  </div>
</div> -->

<!-- Carousel -->
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="carousel-container">
      <%= carousel_for(@images) %>
    </div>
  </div>
</div>
<!--  ---------->

<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <h4 class="page-header"></h4>
    <%= @describe_text.content %>
  </div>
</div>