<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <strong><h2>Welcome to ECOsmarte University</h2></strong>
    <p>Select one of the following lessons or tests to proceed</p>
    <div class="row">
      <div class="col-sm-6">
        <div class="basics">
          <strong><h3>ECOsmarte Basics</h3></strong>
          <div class="navigation">
            <%= link_to ecosmarte_basics_path, class: "university_link" do %>
              <button class="btn btn-tutorial" type="button" name="button">Take the Lessons</button>
            <% end %>
            <%= link_to quiz_path(quiz_number: 1), class: "university_link" do %>
              <button class="btn btn-tutorial" type="button" name="button">Take the Test</button>
            <% end %>
          </div>
        </div>
      </div>
      
      <div class="col-sm-6">
        <div class="advanced">
          <strong><h3>ECOsmarte Advanced</h3></strong>
          <div class="navigation">
            <%= link_to ecosmarte_basics_path, class: "university_link" do %>
              <button class="btn btn-tutorial" type="button" name="button">Take the Lesson</button>
            <% end %>
            <%= link_to quiz_path(quiz_number: 2), class: "university_link" do %>
              <button class="btn btn-tutorial" type="button" name="button">Take the Test</button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
