<!-- Logo ---------->
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <%= image_tag "brand.png", class: "logo_cloud"%>
  </div>
</div>
<!--  -------------->

<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="list-group">
      <%= link_to "ECOsmarte WiFi Beta Site Details", "/documents/WifiBetaSite.pdf", target: "_blank", class: "list-group-item list-group-item-action" %>
      <%= link_to "ECOsmarte WiFi Setup", "/documents/Ecosmarte_Cloud_Setup.png", target: "_blank", class: "list-group-item list-group-item-action" %>
      <%= link_to "Set Up Your Global Connections", "/documents/Ecosmarte_Cloud_You_Are_Here.png", target: "_blank", class: "list-group-item list-group-item-action" %>
    </div>
  </div>
</div>








 