<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="welcome">
        Welcome to the Ecosmarte Cloud
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-12">
      <h4 class="page-header"></h4>
      <div class="row">
        The ECOsmarte cloud is designated for users to monitor the status of their swimming pools and other devices while on the go. The cloud will help in viewing and regulating pH and copper levels and keep customers regularly updated. Please Log In using the menu bar at the top of the screen and create a profile for your pool and begin to track and enter data.
      </div>
    </div>
    
  </div>
  
</div>