
<!-- Logo ---------->
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <%= image_tag "brand.png", class: "logo_cloud"%>
  </div>
</div>
<!--  -------------->

<% if current_user %>
  <%= render "dashboard" %>
<% else %>
  <%= render "not_registered" %>
<% end %>
