<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    
    <div class="panel panel-info">
      <div class="panel-heading"><h3>7 Most Important Things</h3></div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item">The ECOsmarte Pool system should be set to run ONLY when the pool is turned on. DO NOT TURN ON THE ECOSMARTE POOL SYSTEM WHEN THE POOL IS OFF.</li>
          <li class="list-group-item">The Security Sequence for the Programmable Control Box is UP DOWN UP.</li>
          <li class="list-group-item">pH is the most important thing. Make sure that your pH is around 6.8 - 7.2. Having the pH level at 6.8 is better than 7.2. Check the pH twice a week to start.</li>
          <li class="list-group-item">You must maintain a copper level between .4 - .7ppm.</li>
          <li class="list-group-item">Calcium should be at least 400ppm. Confirm that your calcium is at the right level two to three times per year and after rain and heavy storms.</li>
          <li class="list-group-item">The phosphate level should be at 0ppb.</li>
          <li class="list-group-item">Replace the test kits every two years.</li>
        </ul>
      </div>
    </div>
    
    <div class="panel panel-info">
      <div class="panel-heading"><h3>Setting up a new Pool System</h3>Start by taking your water tests. Open up the large black case and look for your four main test kits.</div>
      <div class="panel-body">  
        <ul class="list-group">
          <li class="list-group-item">Test the pH. If the PH is high, add some liquid muriatic acid to lower the pH to 6.8</li>
          <li class="list-group-item">Test the copper level. You should get a copper reading of 0ppm before start-up. The pump and filter should run 24 to 48 hours in the ionize mode.</li>
          <li class="list-group-item">Test the calcium level. The optimal level is 400ppm or higher. Calcium is also known as hardness.</li>
          <li class="list-group-item">Test the phosphate level. Remember that the correct level of phosphates should be 0ppb.</li>
        </ul>
      </div>
    </div>
    
    <div class="panel panel-info">
      <div class="panel-heading"><h3>Lowering pH Levels</h3>pH levels need to be within 6.8 – 7.2. 6.8 is the ideal level.</div>
      <div class="panel-body">
        <strong>How does HIGH pH affect my pool?</strong><br><br>
        A pH above 7.2 renders the copper a less effective sanitizer, which can lead to algae growth and other sanitation issues. 
        A high pH can also lead to “copper fall out.” Copper fall out is when the copper falls out of its ION form and returns to a solid state. 
        This can cause your pool water to appear blue in color and can also cause “plating.” Plating is when copper deposits itself to the surface of your pool causing bluish deposits. 
        Thankfully, these deposits are not permanent.<br>
        Dropping your pH down to 6.8 (and maintaining a lower copper level of .5 ppm) will allow the copper to fall back into its desired ION form.
      </div>
      <div class="panel-body">
        <strong>To lower pH Level:</strong><br><br>
        <ol>
          <li>Fill a 5 gallon bucket about halfway with pool water. Then, add liquid muriatic acid to the bucket, creating a solution of about 2 parts water to one part acid.</li>
          <li>Walk around the pool gradually adding the acid/water solution evenly to the pool.</li>
          <li>Wait a day for the solution to mix thoroughly and then test the pH again. If the pH is still above 7.2, add another dose of acid/water solution.</li>
        </ol>
      </div>
      <div class="panel-body">
        <strong>Tips for pH management:</strong><br><br>
        <ol>
          <li>The higher the pH is, the more acid is required, exponentially, to bring it down. Err on the side of using more acid to bring the pH down more quickly. The pH will always tend to correct itself upward if it does get too low.</li>
          <li>The trick to extreme stability is keeping the pH around 6.8 and not letting it get above 7.0.</li>
          <li>ECOsmarte only recommends using liquid muriatic acid or a product called "Acid Magic" to lower the pH. Never use dry acid, as it raises sodium levels in the pool.</li>
        </ol>
      </div>
    </div>
      
    <div class="panel panel-info">
      <div class="panel-heading"><h3>Testing Copper Levels</h3>Test the pH level first. Adjust pH to 6.8-7.2 if needed before testing Copper levels.</div>
      <div class="panel-body">
        <ol>
          <li>With a clean, dry sample tube, take a sample of water about 18" below the water - away from return jets and skimmers.</li>
          <li>Add 5 drops of Copper A to the tube, cap it, and turn it upside-down to mix.</li>
          <li>Add 5 drops of Copper B to the same tube, cap it, and turn it upside-down to mix.</li>
          <li>Wait three minutes.</li>
          <li>With the color chart on a flat surface, hold the tube about 1" above the chart. Look down through the length of the tube and compare to the color chart.</li>
          <li>Record Results. The pool must have a copper level between .4 - .7ppm. On a 20,000 gallon pool, it takes, on average, 4 hours to move .1ppm and 12 hours to move .3ppm.</li>
        </ol>
      </div>
      
      <div class="panel-body">
        <strong>How does the pH of my pool affect my Copper Test?</strong><br><br>
        <p>A pH reading above 7.2 is going to give you a FALSE LOW copper reading, meaning you may have an optimum copper level even though the test says you do not.
        <br>Adjust the pH down below 7.2 (ideally 6.8) and retest the copper.</p>
        
        <p>A pH reading below 6.8 is going to give you a FALSE HIGH copper reading, meaning you may not have an optimum copper level even though the test says you do.
        <br>Low pH will tend to correct itself on its own. However, you can adjust the pH up to 6.8 using baking soda.</p>
      
      </div>
    </div>
    
    <div class="panel panel-info">
      <div class="panel-heading"><h3>Phosphates</h3>How do Phosphates affect my pool and ECOsmarte System?</div>
      <div class="panel-body">
        Phosphates are food for algae. Leaving or adding phosphates in the pool will cause recurrent algae blooms, which can lead to a green pool and can also cause cloudy water. Phosphates are in the water supplies now because of farm runoff, acid rain, and municipal water treatment. Whenever water is added to the pool, phosphates might also be added. Phosphates will inhibit your ECOsmarte system’s ability to generate copper. If you are struggling to raise copper, check for phosphates. Although your phosphate test that came with your ECOsmarte system tests for most phosphates, a digital phosphate test at your pool store (or the Micro 10 Digital Test kit for your home) can confirm the presence of phosphates that your home test cannot.<br>
      <strong>Use a phosphate removal product to eliminate phosphates:</strong>
      </div>
      <div class="panel-body">
        <strong>If the phosphates are over 100ppb</strong>
        <ol>
          <li>Sea Klear Phosphate Remover</li>
          <li>ECOsmarte ON CONTACT Phosphate Remover. Requires 2 gallon bug sprayer</li>
        </ol>
      </div>
      <div class="panel-body">
        <strong>If the phosphates are over 1000ppb</strong>
        <ol>
          <li>We Strongly recommend the ECOsmarte Zero Backwash</li>
        </ol>
      </div>
    </div>
    
    <div class="panel panel-info">
      <div class="panel-heading"><h3>Calcium Hardness</h3>If Calcium test results in calcium levels below 400ppm, add calcium chloride flakes to raise the hardness and to balance the pool. Calcium chloride flakes can be found at the pool store and places that make concrete. Make sure to get the flakes and not the pellets.</div>
      <div class="panel-body">
        A very general rule of thumb is that 100lbs of calcium will raise the calcium level in a pool 20,000 gallon pool about 100 ppm. Add 50lb bags at a time and test in between each 50 lbs.
      </div>
      <div class="panel-body">
        <ol class="list-group">
          <li>Put 10lbs of calcium at a time in a pool leaf skimmer. Swish it around toward the middle of the pool until it dissolves. Repeat this process to add 50 - 100 lbs of calcium, often required at start-up or once a year.</li>
          <li>Wait a couple days before testing the water again to make sure the calcium is thoroughly mixed into the pool water.</li>
          <li>Retest the water.</li>
          <li>Repeat the process until the water is at least above 400ppm.</li>
        </ol>
      </div>
      <div class="panel-body">
        Calcium is very stable in the water and only drops if there is a lot of rain. Test after heavy storms and about every six months.
      </div>
    </div>
    
    <div class="panel panel-info">
      <div class="panel-heading"><h3>Algae</h3>Whenever you have algae, start by running the pool 24hrs a day till the pool clears up.</div>
      <div class="panel-body">
        Make Sure the Algaecide has NO COPPER. Ask the pool store for any algaecide with a 40 or 60 on the bottle. Algaecide Poly 60 is the most commonly used.
      </div>
      <div class="panel-body">
        <strong>To eliminate algae:</strong><br>
        <ol>
          <li>Begin lowering the pH to 6.8 - 7.2. (Aim for 6.8)</li>
          <li>Apply 1 quart non-metal algaecide during daylight hours. If possible, apply the algaecide in the morning, which is when algae feed.</li>
          <li>Wait 12 to 24 hours. If the water is hazy, murky or cloudy, put in a non-chlorine shock (potassium peroxymonosulfate), using the formula 2lbs per 10,000 gallons of pool water. Avoid the non-chlorine shock if the pool is clear.</li>
          <li>Wait 24 hours. If the pool isn't all the way clear, add another dose of the non-chlorine shock.</li>
          <li>Watch the filter gage pressure, backwash only if there is a pressure rise between 6lbs and 10lbs.</li>
          <li>If the pool is still not clear after a back to back non-chlorine shock, check your filter.</li>
        </ol>
      </div>
    </div>
    
    
    <div class="panel panel-info">
      <div class="panel-heading"><h3>How and when to clean the electrodes</h3>The electrodes in a pool system need to be cleaned 2 times per year. Also clean them if there is visible build-up on the electrodes. DO NOT TAKE THE ELECTRODES OUT OF THE CHAMBER TO CLEAN THEM. Remove the entire chamber and place it in an acid and water solution, 5 parts water and one part acid.</div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item">Make sure the pump and filter are off and the valves are closed.</li>
          <li class="list-group-item">Slip the wires off of the metal tabs on the outside of the chamber and unscrew the chamber from the return line. If the unions don't loosen by hand, try a strap wrench. Be careful not to crack the chamber.</li>
          <li class="list-group-item">In a 5 gallon bucket, mix a solution of 5 parts water to 1 part acid. Pour the water in first and then the acid.</li>
          <li class="list-group-item">Place the entire electrode chamber in the solution for 10-15 minutes. Allow the solution to do the work.</li>
          <li class="list-group-item">If the chamber isn't clean after 10-15 minutes, let the chamber soak longer, but not longer than about 1 hour. </li>
          <li class="list-group-item">Do not scrub or scrap the electrodes. Using tools to scrape the electrodes will damage them.</li>
          <li class="list-group-item">Remove the chamber from the solution and rinse in fresh water.</li>
          <li class="list-group-item">Replace the chamber inline and hand tighten the unions.</li>
          <li class="list-group-item">Replace the wires on the chamber. Red and green wires go to the copper electrodes and the black and white wires go to the titanium electrodes.</li>
        </ul>
      </div>
    </div>
    
    <div class="panel panel-info">
      <div class="panel-heading"><h3>Opening Pool with ECOsmarte (Non-chemical)</h3>Every spring, clean the electrode chamber and open your sand filter. Drain the water in the filter down to the top of the media, pull off the debris, run your hands or something in the media make sure it has no clumps.</div>
      <div class="panel-body">  
        <ul class="list-group">
          <li class="list-group-item">Test the pH level. If it is above of the 7.2, lower the pH level until it is 6.8 - 7.2 (aim for 6.8). Retest the pH and adjust further if needed until it is within 6.8 - 7.2.</li>
          <li class="list-group-item">Test the copper level. If the copper is below the .3ppm range, ionize until it is .4 - .7ppm.</li>
          <li class="list-group-item">Test the calcium level. If it is below 400ppm, adjust calcium up to above 400ppm.</li>
          <li class="list-group-item">Test the phosphate level. If the result is between 1-1000ppb use one of these phosphate removal products to remove them: Sea Klear Phosphate Remover, Phos-Free, Zero-Phos, or Phos-X. If the phosphates are above 1000ppb, use Sea Klear Phosphate Remover.</li>
          <li class="list-group-item">If the pool has leaves and debris, hand vacuum to waste. Do not vacuum through the filter.</li>
          <li class="list-group-item">Brush down the sides of the pool to clean off any algae or other contaminants.</li>
          <li class="list-group-item">Inspect the filter and thoroughly clean the filter system.</li>
          <li class="list-group-item">Turn on the filtration system.</li>
          <li class="list-group-item">Test the pH level again and adjust if needed.</li>
          <li class="list-group-item">Cloudiness should be expected 24 to 48 hours after vacuuming.</li>
        </ul>
      </div>
    </div>
    
    <div class="panel panel-info">
      <div class="panel-heading"><h3>Closing the Pool</h3></div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item">Test the pH level. Lower to 6.8 or below.</li>
          <li class="list-group-item">Two days prior to closing, test copper levels and raise to .7ppm or even slightly higher.</li>
          <li class="list-group-item">Make sure all leaves are removed, and winterize WITHOUT winter algaecide or chlorine.</li>
          <li class="list-group-item">For best results, use a solid cover.</li>
        </ul>
      </div>
    </div>
    
    <div class="panel panel-info">
      <div class="panel-heading"><h3>Sand Filter Wash and Cleaning</h3></div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item">Shut off the pump and close the valves.</li>
          <li class="list-group-item">Take off the valve head.</li>
          <li class="list-group-item">Unscrew the drain plug.</li>
          <li class="list-group-item">Drain the water until the media is visible. ( This may take a while.)</li>
          <li class="list-group-item">Examine the surface of the media. Take out clumps of debris and check for level media. Dips in the media or media tilted to one side may indicate a broken lateral. If laterals are broken, have them repaired by a pool professional.</li>
          <li class="list-group-item">Replace the drain plug.</li>
          <li class="list-group-item">If the filter is a sand filter with sand, pour 2 gallons of liquid muriatic acid, or enough to cover the filter media, into the filter.</li>
          <li class="list-group-item">If the filter is a sand filter with GlassPack® Filter Media, pour 2 gallons of regular liquid household bleach into the filter, covering the media.</li>
          <li class="list-group-item">Let the filter to soak overnight (about 12 hours).</li>
          <li class="list-group-item">Backwash the filter to "waste".</li>
        </ul>
      </div>
    </div>
    
    <div class="panel panel-info">
      <div class="panel-heading"><h3>DE Filter Wash and Cleaning</h3></div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item">Have the DE filter broken down for cleaning and checked for broken grids.</li>
          <li class="list-group-item">Remove the grids.</li>
          <li class="list-group-item">Soak the grids in a 2 parts water to 1 part liquid muriatic acid solution for 12 hours. (Soaking grids is critical twice yearly.)</li>
          <li class="list-group-item">Reassemble the grids.</li>
          <li class="list-group-item">Add DE powder.</li>
        </ul>
      </div>
    </div>
    
    <div class="panel panel-info">
      <div class="panel-heading"><h3>How can Over-Oxidizing affect my Pool?</h3></div>
        <div class="panel-body">
          Some people run their pumps 24 hours a day. We love those customers, because that means they are getting optimal filtration time. However, it is not always a good idea to run your ECOsmarte system around the clock. Over-oxidized pools can lead to millions of micro oxygen bubbles that can lead to your pool appearing cloudy. It can also cause excess copper to enter the pool when the ionize mode is switched off. Most pools only need 8-10 hours of oxidizing per day. If you feel you are over oxidizing, feel free to call 1-800-ION-SWIM to go over your daily ECOsmarte schedule with our customer support team.
        </div>
    </div>
    
    
  </div>
</div>