/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

td {
  text-align: left;
}

table {
  background-color: #f9f9fb;
}

.list-group {
    list-style: decimal inside;
}

.list-group-item {
    display: list-item;
    text-align: left;
}

.panel-body {
  text-align: left;
}

html, body {
  height: 96%;
}

#wrap {
  min-height: 100%;
}
#content {
  padding-bottom: 164px;
  overflow: auto;
}

body {
  color: #111;
  // background-color: #f8fdff;
  background-color: #f7f7f8;
  text-align: center;
  font-family: 'Futura', sans-serif;
}

.brand_logo {
  height: 100%;
}

.affix {
	z-index: 4;
  top: 0;
  width: 100%;
}

.affix + .container-fluid {
  margin-top: 60px;
}

@media (min-width: 768px) {
  .group {
    margin-bottom: 50px !important;
  }
}  

// ********************************

footer {
  position: relative;
  margin-top: -143px; /* negative value of footer height */
  clear:both;
  width: 100%;
  min-height: 104px;
  color: #ddd;
  display: -webkit-box;
  padding: 14px;
  background-color: #757f85;
  text-align: center;
  font-family: 'Futura', sans-serif;
  box-shadow: 0px -1px 4px #777;
}

#rights {
  margin-top: 20px;
}

@media (max-width: 767px) {
  #footer_help_links {
    margin-top: 28px;
  }
}


.social_icons {
  margin: 8px;
  display: flex;
}

.social_icon {
  height: 100%;
  width: 42px;
  margin-right: 10px;
  float: left;
  border: 2px solid;
  border-radius: 50%;
  border-color:#fff;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: 1px 1px 4px #444;
}

.social_icon > a > img {
  width: 100%;
}

.social_icon::after {
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

}

.social_icon:hover {
  box-shadow: 0px 0px 0px #000;
  -webkit-transform: scale(0.95, 0.95);
  transform: scale(0.95, 0.95);
}

.social_icon:hover::after {
    opacity: 1;
}

.footer_link {
  font-size: 15px;
  color: #ddd;
  margin-top: 4px;
}

.footer_link > a {
  color: #ddd;
}

.footer_link:hover > a:hover {
  color: #bbb;
  text-decoration: none;
}


// ***********************************

.btn-measurement {
  color: #fff !important;
  background-color: #00aeef !important;
  border-color: #009edf !important;  
}

.btn-measurement:hover {
  color: #fff !important;
  background-color: #009edf !important;
  border-color: #008cde !important;
  box-shadow: 0px 0px 0px #aaa !important;
}

.btn-measurement:focus, .btn-measurement.focus {
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5) !important;
}

.btn-measurement.disabled, .btn-measurement:disabled {
  background-color: #00aeef !important;
  border-color: #00aeef !important;
}

.btn-measurement:active, .btn-measurement.active,
.show > .btn-measurement.dropdown-toggle {
  background-color: #009edf !important;
  background-image: none !important;
  border-color: #0080d0 !important;
}

// ***************************************

