// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome {
  font-size: 24px;
  color: #00aeef;
}

.offer {
  width: 100%;
}

.logo_cloud {
  height: 90px;
  margin-bottom: 6px;
}

.logo_eco {
  height: 90px;
  margin-bottom: 30px;
}

.help_container {
  margin-bottom: 30px;
  border:1px solid #999 !important;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 1px 1px 8px #aaa;
}

.help_link {
  text-decoration: none !important;
}

.tutorial_link {
  cursor: pointer;
}

.help_img {
  width: 100%;
  margin-bottom: 10px;
}

.help_desc {
  font-size: 30px;
  margin-bottom: 10px;
}

.help_container::after {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.help_container:hover {
  -webkit-transform: scale(.99,.99);
  transform: scale(.99,.99);
  // smoother
  //-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  //transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: 0px 0px 0px #aaa;
}

// ************ BTN ************** //

.btn-tutorial {
  color: #fff !important;
  font-size: 18px !important;
  background-color: #00aeef !important;
  border-color: #009edf !important;
  margin-bottom: 20px !important;
  margin-top: 10px !important;
  
}

.btn-tutorial:hover {
  color: #fff !important;
  background-color: #009edf !important;
  border-color: #008cde !important;
  box-shadow: 0px 0px 0px #aaa !important;
}

.btn-tutorial:focus, .btn-tutorial.focus {
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5) !important;
}

.btn-tutorial.disabled, .btn-tutorial:disabled {
  background-color: #00aeef !important;
  border-color: #00aeef !important;
}

.btn-tutorial:active, .btn-tutorial.active,
.show > .btn-tutorial.dropdown-toggle {
  background-color: #009edf !important;
  background-image: none !important;
  border-color: #0080d0 !important;
}

// ************************

.dashboard_container {
  //border:1px solid #999 !important;
  border:1px solid #009edf !important;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 1px 1px 1px #aaa;
  height: 290px;
  //background-color: #0099df;
  text-shadow: 1px 1px 5px #123;
  background-color: #55b0d5;
  margin-bottom: 12px;
  text-align: center;
}

@media (max-width: 491px) {
  .dashboard_container {
    height: 190px;
  }
  .dashboard_link {
    color: #fff;
    text-decoration: none !important;
    // line-height: 240px;
  }
  .dashboard_title {
    font-size: 22px;
    position: relative;
  }
}

#pool_1 {
  background-image: url(asset-path('pool_1.jpg'));
}
#pool_2 {
  background-image: url(asset-path('pool_2.jpg'));
}
#pool_3 {
  background-image: url(asset-path('pool_3.jpg'));
}
#pool_4 {
  background-image: url(asset-path('pool_4.jpg'));
}
#pool_5 {
  background-image: url(asset-path('pool_5.jpg'));
}

.dashboard_container::after {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.dashboard_container:hover {
  -webkit-transform: scale(.99,.99);
  transform: scale(.99,.99);
  box-shadow: 0px 0px 0px #aaa;
}

.dashboard_link {
  color: #fff;
  text-decoration: none !important;
  // line-height: 240px;
  font-size: 26px;
}
.dashboard_link:hover {
  color: #fff;
}

.dashboard_title {
  top: 38%;
  position: relative;
}

.dashboard_bottom {
  //border:1px solid #999 !important;
  border:1px solid #009edf !important;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 1px 1px 1px #aaa;
  height: 60px;
  //background-color: #0099df;
  background-color: #ffffff;
  margin-bottom: 12px;
  text-align: center;
}

.dashboard_bottom::after {
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.dashboard_bottom:hover {
  -webkit-transform: scale(.99,.99);
  transform: scale(.99,.99);
  box-shadow: 0px 0px 0px #aaa;
}

.dashboard_bottom_link {
  color: #009edf;
  text-decoration: none !important;
  // line-height: 240px;
  font-size: 16px;
}
.dashboard_bottom_link:hover {
  color: #009edf;
}

.dashboard_bottom_title {
  top: 30%;
  position: relative;
}

.help_paths {
  margin-top: 80px;
}


.dashboard_view {
  //border:1px solid #999 !important;
  border:1px solid #009edf !important;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 1px 1px 1px #aaa;
  height: 30px;
  //background-color: #0099df;
  background-color: #ffffff;
  margin-bottom: 12px;
  text-align: center;
  text-decoration: none !important;
  color: #009edf;
  font-size: 10px;
  cursor: pointer;
}

.dashboard_view::after {
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.dashboard_view:hover {
  -webkit-transform: scale(.99,.99);
  transform: scale(.99,.99);
  box-shadow: 0px 0px 0px #aaa;
}

.dashboard_view_title {
  top: 30%;
  position: relative;
}


// ******************** Basics **************

.navigation {
  display: flex;
  width: 100%;
}

.nav_button {
  background-color: #00aeef;
  color: #fff;
  height: 74px;
  width: 74px;
  float: left;
  margin:auto;
  border-radius: 50%;
  border: 2px solid;
  border-color:#fff;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: 1px 1px 4px #444;
  font-size: 40px;
  line-height: 66px;
  cursor: pointer;
}

.nav_button::after {
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

}

.nav_button:hover {
  box-shadow: 0px 0px 2px #000;
  -webkit-transform: scale(0.97, 0.97);
  transform: scale(0.97, 0.97);
}

.nav_button:hover::after {
    opacity: 1;
}

.basics_style {
  margin-bottom: 100px;
}

.button_to {
  margin: auto;
}

#test {
  display: none;
}
// *****************************************

.correct {
  color: #22cc55;
}

.wrong {
  color: #dd2233;
}

// ************************************************

@media (min-width: 768px) {
  .basics {
    padding-right:20px; 
    border-right: 1px solid #ccc;
  }
}

.university_link {
  margin: auto;
  margin-top: 70px;
}

.university_test {
  margin: auto;
  margin-top: 30px;
}

.university_header_container {
  width:100%;
  height:240px;
  overflow:hidden;
}
.university_header {
  width: 100%;
  height: 240px;
  background-image: url(asset-path('pool_header.jpg'));
}

.university_title {
  color: #fff;
  text-shadow: 1px 1px 4px #012;
  padding: 25px;
  font-size: 34px;
}

.university_title > p {
  font-size: 16px;
}

// **********************************

.policy_title {
  padding: 10px;
}

.policy_dash {
  height: 1px;
  background-color: #ccc;
  width: 100%;
  display: block;
}

.policy_item {
  margin-top: 20px;
  text-align: left;
}

// ***************************

#user_view {
  
}

#admin_view {
  display:none;
}
