// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome {
  font-size: 24px;
  color: #00aeef;
}

.offer {
  width: 100%;
}

.logo {
  height: 90px;
  margin-bottom: 6px;
}

.pool_spa_help_container {
  width: 100%;
}

.pool_spa_help_img {
  width: 100%;
}

.tutorial_link {
  cursor: pointer;
}